<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Activity.AppActivity"
        android:allowBackup="true"
        android:icon="@mipmap/fizanto_fuzz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fizanto_fuzz_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:theme">
        <activity
            android:name=".PrateekSinha"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Activity.AryanSrivastava"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Activity.Image_show"
            android:exported="false"
            android:theme="@style/Exoplayer" />

        <receiver
            android:name=".Widget.Widget2"
            android:exported="true"
            android:label="Fizanto Dial">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget2_info" />
        </receiver>

        <activity
            android:name=".Activity.TextFeedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatActivity"
            android:theme="@style/AppThemeNavigation" />
        <activity android:name=".Activity.GroupChatActivity" />
        <activity android:name=".Activity.MessageActivity" />
        <activity
            android:name=".Activity.StoryFeedActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Exoplayer" />
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppThemeNavigation" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6160179803290468~9882905554" />

        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/fflogowhite" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/ui_accent3" />

        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>